<h2>Выбрать пиццу</h2>
</br>




  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-4">
      <div>
        <%=product.name %>
      </div>
      <div>
        <img src="<%=product.path_to_image %>" alt="Фото пиццы <%=product.name %>" width="200">
      </div>
      <div>
        <%=product.description %>
      </div>
      <div>
        <%=product.price %>
      </div>
      <div>
        <%=product.size %>
      </div>
      <div>
        <%=product.is_spicy %>
      </div>
      <div>
        <%=product.is_veg %>
      </div>
      <div>
        <%=product.is_best_offer %>
      </div>
    </div>
    <% end %>
  </div>


